nav{
    padding:  26px, 80px;
    height: 77px;
    width: 100%;
    background: #6B3CC9; 
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

#logo{
    padding-bottom: 6px;
    padding-left: 80px;
}

#nav-content{
    height: 17px;
    width: 381px;
    gap: 28px;
    margin-right: 80px;
    display: flex;
    align-items: center;
}
#nav-content  p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    color: white;
}

#menu-icon{
    display: none;
}
#hero-image-container{
    width: 100%;
    height: 700px;
}
#hero-image-container > img{
    position: absolute;
    width: 100%;
    height: 700px;
    object-fit: cover;
}

#consultation{
    position: absolute;
    padding: 24px, 40px, 32px, 40px;
    margin-left: 80px;
    margin-top: 354px;
    width: 630px;
    height: 306px;
    background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

#container-1{
    display: flex;
    flex-direction: column;
}

#txt-consult{
    display: inline-block;
    width: 556px;
    height: 192px;
    font-size: 48px;
    line-height: 48px;
    margin: 24px 34px 90px 40px;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: white;
    font-family: 'Inter', sans-serif;
    position: absolute;
}
.btn-all{
    padding: 12px 20px;
    background-color: #F28D35;
    border-radius: 4px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-align: center;
    border: none;
}
#btn-consult{
    width: 214px;
    height: 38px;
    margin-top: 236px;
    margin-left: 40px;   
}

#container-2{
    height: 414px;
    margin-left: 188px;

}

.container-all{
    display: flex;
    align-items: center;
    width: 1064px;  
    margin-top: 80px;
    gap: 108px;
}

.container-content{
    gap: 20px;
    width: 542px;
    display: flex;
    flex-direction: column;
}

#web-mobile{
    
    height: 187px;    
}

.heading-content{

    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: #6B3CC9;
    margin-right: 35px;

}

#web-mobile-content,
#stratergy-content{
    font-family: 'Inter', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.learn-more{
    width: 129px;
    height: 38px;
    padding: 12px, 20px;

}

#container-3{
    height: 416px;
    margin-left: 188px;

}

#digital-stratergy{
    height: 206px;
}

footer{
    width: 100%;
    position: absolute;
    padding: 40px, 80px, 20px, 80px;
    margin-top: 100px;
    height: 324px;
    background: #6B3CC9; 
    display: flex;
    flex-direction: column;
    align-items: center;

}

#footer-content{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 160px);
    height: 199px;
    margin: 40px 80px 40px 80px;
    
}

#container-4{
    width: 413px;
    height: 102px;
    gap: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

#goal-target{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

#tech,
#services{
    display: flex;
    width: 197px;
    flex-direction: column;
    gap: 12px;
    color: white;
    font-family: 'Inter', sans-serif;
}

#tech-heading,
#service-heading{

    margin-right: 18px;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

#tech-content{
    margin-right: 137px;
    gap: 12px;
    height: 199px;
    display: flex;
    flex-direction: column;
}

#service-content{
    gap: 12px;
    height: 199px;
    display: flex;
    flex-direction: column;
}

#tech-content p,
#service-content p{
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}

#container-5{
    width: 522px;
    height: 199px;
    display: flex;
    gap: 128px;
}

#policy-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 630px;
    height: 25px;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 1);
}

#policy-content > p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

@media all and (min-width: 1200px) and (max-width: 1339px) {
    
    #consultation{
    
        margin-left: 60px;
        width: 622px;
        
    }

    
    #txt-consult{
        margin: 24px 26px 90px 40px;
        
    }
    
    #container-2{
        height: 346px;
        margin-left: 152px;
        margin-right: 152px;
    
    }
    
    #container-2 > img{
        width: 346px;
        height: 346px;
    }
    .container-all{
    
        width: 896px;  
        gap: 20px;
    }
    
    .container-content{
        width: 530px;
    }
    
    .heading-content{
        margin-right: 23px;
    }
    
    #container-3{
        height: 348px;
        margin-left: 152px;
        margin-right: 152px;
    
    }

    #container-3 > img{
        width: 346px;
        height: 348px;
    }
    
    
    footer{
        
        padding: 40px, 60px;
        margin-top: 80px;
    
    }
    
    #footer-content{
        gap: 112px;
        width: calc(100% - 120px);
        margin: 40px 80px 40px 80px;
        
    }
    
    #container-4{
        width: 438px;
    }
    
    #container-5{
        width: 530px;
        gap: 20px;
    }

    #tech,
    #services{
        width: 255px;
        gap: 12px;
    }

    #services{
        height: 170px;
    }
    
    #tech-heading{
        margin-right: 76px;
    }

    #service-heading{
        margin-right: 123px;
    }
    
    #tech-content{
        margin-right: 195px;
    }
    
    #service-content{
        height: 133px;
    }
}

@media all and (min-width: 768px) and (max-width: 1199px){
    nav{
        padding:  26px, 40px;
    }
    
    #logo{
        padding-left: 40px;
    }
    
    #nav-content{
        margin-right: 40px;
    }

    #hero-image-container{
        width: 100%;
        height: 706px;
    }
    #hero-image-container > img{
        position: initial;
        width: 100%;
        height: 448px;
        object-fit: fill;
    }
    
    #consultation{
        position: absolute;
        margin-left: 0;
        margin-top: -5px;
        width: 100%;
        height: 258px;
    }
    
    #container-1{
        gap: 20px;
        
    }
    #txt-consult{
        width: 668px;
        height: 144px;
        margin: 24px 40px 90px 40px;
    }
   
    #btn-consult{
        width: 214px;
        height: 38px;
        margin-top: 188px;
        margin-left: 40px;   
    }
    
    #container-2{
        width: 688px;
        height: 275px;
        margin-left: 40px;
        margin-right: 40px;
    }

    #container-2 > img{
        width: 275px;
        height: 275px;
    }
    
    .container-all{
        align-items: flex-start;
        margin-top: 60px;
        gap: 20px;
    }
    
    .container-content{
        width: 393px;
        height: 239px;
        margin-top: 18px;
    }
    
    #web-mobile{
        height: 239px;    
    }
    
    .heading-content{
        margin-right: 0; 
    }
    
    #container-3{
        width: 688px;
        height: 276px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 60px;
    }

    #container-3 > img{
        width: 275px;
        height: 276px;
    }
     
    #digital-stratergy{
        height: 225px;
        margin-top: 25.5px;
    }
    
    footer{
        padding: 40px, 40px, 20px, 40px;
        margin-top: 80px;
        height: 486px;
        gap: 40px;

    }
    
    #footer-content{
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: calc(100% - 80px);
        height: 361px;
        margin: 40px 40px 85px 40px;
        
    }
    
    #goal-target{
        width: 413px;
        height: 57px;
    }

    #container-5{
        width: 511px;
        gap: 79px;
    }
    
    #tech,
    #services{
        width: 216px;
    }

    #services{
        height: 170px;
    }
    
    #tech-content{
        margin-right: 156px;
        height: 162px;

    }
    
    #service-content{
        height: 133px;
        display: flex;
    }
   
    #policy-content{
        margin-top: -90px;
    }
    
}

@media all and (min-width: 375px) and (max-width: 767px){
    
    nav{
        padding:  26px, 20px;
    }
    
    #logo{
        padding-left: 20px;
    }
    
    #nav-content{
        display: none;
    }

    #menu-icon{
        display: initial;
        width: 31px;
        height: 24px;
        margin-right: 20px;
    }

    #hero-image-container{
        width: 100%;
        height: 512px;
    }
    #hero-image-container > img{
        width: 100%;
        height: 218px;
        object-fit: fill;
    }
    
    #consultation{
        position: absolute;
        margin-left: 0;
        margin-top: -5px;
        width: 100%;
        height: 294px;
    }
    
    #container-1{
        gap: 20px;
        
    }
    #txt-consult{
        width: 335px;
        height: 180px;
        margin: 24px 20px 90px 20px;
        font-size: 36px;
        line-height: 36px;

    }
   
    #btn-consult{
        width: 214px;
        height: 38px;
        margin-top: 224px;
        margin-left: 20px;   
    }
    
    #container-2{
        
        margin-top: 60px;
        gap: 20px;
        width: 335px;
        height: 572.82px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #container-2 > img{
        width: 275px;
        height: 275.82px;
    }
    
    .container-all{
        margin-top: 60px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .container-content{
        align-items: center;
        width: 335px;
        height: 277px;
        margin-top: 20px;
    }
    
    #web-mobile{
        height: 277px;    
    }
    
    .heading-content{
        text-align: center; 
    }
    
    #web-mobile-content,
    #stratergy-content{
        text-align: center;
    }

    #container-3{
        flex-direction: column-reverse;
        width: 335px;
        height: 573px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 60px;
    }

    #container-3 > img{
        width: 275px;
        height: 276px;
    }
     
    #digital-stratergy{
        margin-top: 0;
    }

    footer{
        padding: 40px, 20px, 20px, 20px;
        margin-top: 80px;
        height: 715px;
        gap: 40px;

    }
    
    #footer-content{
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: calc(100% - 40px);
        height: 590px;
        margin: 40px 20px 85px 20px;
        
    }
    
    #goal-target{
        width: 335px;
        height: 121px;
    }

    #container-5{
        width: 335px;
        height: 409px;
        gap: 40px;
        flex-direction: column;
    }
    
    #tech,
    #services{
        width: 216px;
    }

    #services{
        height: 170px;
    }
    
    #tech-content{
        margin-right: 156px;
        height: 162px;

    }
    
    #service-content{
        height: 133px;
    }
   
    #policy-content{
        width: 335px;
        margin-top: -72px;
    }
    
}